/*---------------------------------------------------------*/
					/*Only Ipad*/
/*---------------------------------------------------------*/

@media (min-width: 768px) and (max-width: 944px) {


	.wrapper{
		overflow:hidden;
	}

	.row.work-holder{
		margin-left: 0px!important;
	}

	.logo{
		text-align: center;
	}

	.carousel-caption{
		padding-left:9%;
	}

	.slider-caption{
		top:5px;
	}

	.spn-carousel ul li{
		padding: 0 27px;
	}

	.spn-nav span{
		left: 44%;
		right: auto;
	}

	.spn-nav span.spn-nav-next{
		left: 50%;
		right: auto;
	}

	#feature .f-one p, #feature .f-two p{
		width: 320px;
	}

	.ftposition .fture-one, .ftposition .fture-two, .ftposition .fture-the{
		width: 160px;
		height: 160px;
		background-size: cover; 
	}

	.ftposition .fture-one{
		left: 10px;
	}

	.ftposition .fture-two{
		right: -1px;
		top: 180%;
	}

	.ftposition .fture-the{
		left: 41px;
		top: 516%;
	}

}


/*---------------------------------------------------------*/
					/*All Mobile Sizes*/
/*---------------------------------------------------------*/
@media (max-width: 767px){

	.carousel-caption{
		padding-left:9%;
	}

	.carousel-control, .carousel-control.right {
		height:40px;
		background-size:contain;
	}

	.wrapper{
		max-width:480px;
		overflow:hidden;
	}

	.menu{ 
		display: none!important; 
	}

	.menu select { 
		display: inline-block; 
	}

	#navigation .logo{
		float: none;
		text-align: center;
	}

	#navigation .logo a{
		float: none;
		display: inline-block;
	}

	#navigation .logo h2{
		display: inline-block;
	}
	.mini-navigation{
		position: absolute;
		top: 20px;
		right: 20px;
	}

	.phone-nav{
		width: 100%;
		margin-top: 10px;
		border-radius: 0px;
	}

	.mini-navigation .btn{
		background: #000;
		color: #fff;
		border-color: rgba(0, 0, 0, 0.1);
	}
	
	.slider-caption{
		top:5px;
	}
	
	#serviceSlide{
		display:inline-block;
		text-align:center;
	}
	
	#carousel{
		width:320px;
		display:inline-block;
	}
	
	.spn-nav span{
		left: 36%;
	}
	
	.spn-carousel ul li{
		padding: 0;
	}
	
	.spn-nav span.spn-nav-next{
		left: 50%;
	}

	#feature{
		background-repeat: repeat;
		height: 100%;
	}

	ul.item-list{
		display: block;
	}

	ul.item-list li{
		display: block;
		margin-bottom: 5px;
	}

	ul.item-list li a{
		padding-left: 0px;
		padding-right: 0px;
		width: 100%;
		text-align: center;
	}

	.single-photo{
		margin-bottom: 30px;
	}

	.single-photo img{
		width: 97%;
	}

	.team-col{
		text-align: center;
	}

	#client{
		background-repeat: repeat;
		height:100%;
	}

	#client .wrapper{
		padding-bottom: 50px;
	}
	
	#client p.comments{
		padding:0;
	}

	#contact .uppercont{
		top: auto;
		position:relative;
	    z-index: 9999999;
	}

	.contact_form{
		text-align: center;
	}

	.form-color{
		display: inline-block;
		text-align: left;
	}

	.marker{
		margin-bottom: 30px;
	}

	#contact .marrow{
		margin-top: 0px;
	}


	#map{
		height: 300px;
		bottom: 0;
	}

	#error-404{
		padding-right: 15px;
		padding-left: 15px;
	}

	#contact .marrow{
		display: none;
	}

	#contact .muparrow{
		display: none;
	}

	.marker{
		text-align: center;
	}

}
/*-----------------------------------------------*
* Only Android
*------------------------------------------------*/


@media (min-width: 481px) and (max-width: 767px) {

	.ftposition{
		height: 430px;
	}

	.ftposition .fture-one{
		top: 0;
		left: 10%;
	}

	.ftposition .fture-two{
		top: 14%;
		right: 10%;
	}

	.ftposition .fture-the{
		top: 44%;
		left: 18%;
	}


	#feature .f-two p, #feature .f-one p{
		width: 360px;
	}

	#contact .mcont{
		display: inline-block;
		width: 372px;
	}

}


/*---------------------------------------------------------*/
					/*Just Mobile Landscape*/
/*---------------------------------------------------------*/
@media (max-width: 480px) {

	.item img{
		max-width:115%;
	}
	
	.carousel-control{
		top:33%;
	}

	.wrapper{
		max-width:320px;
		overflow:hidden;
	}

	form .styc{
		margin-bottom: 10px;
		width:95%;
	}

	form .styccc{
		margin: 0;
		width:95%;
	}

	form .stycc{
		width:100%;
	}

	#contact .form-color{
		width:100%;
	}

	.carousel-caption{
		position: absolute;
	}
	
	#carousel{
		width:270px;
	}
	
	.slider-caption h2{
		font-size: 22px;
		line-height:32px;
	}

	.spn-nav span{
		left: 10px;
		top: 32%;
		bottom: auto;
		z-index: 10;
		height: 30px;
		width: 10px;
		background: url(../images/arrow-left.png) no-repeat 0 0;
		background-size: cover;
	}

	.spn-nav span.spn-nav-next{
		left: auto;
		right: 10px;
		background: url(../images/arrow-right.png) no-repeat 0 0;
		background-size: cover;
	}

	.spn-nav span:hover{
		background: url(../images/arrow-left.png) no-repeat 0 0;
		background-size: cover;
		opacity: 1;
	}

	.spn-nav span.spn-nav-next:hover{
		background: url(../images/arrow-right.png) no-repeat 0 0;
		background-size: cover;
		opacity: 1;
	}

	.slider-caption{.
		top:30%;
	}

	.slider-caption h3{
		display: none;
	}

	.slider-caption p.slide-desc{
		display: none;
	}

	.slider-caption p.button{
		display:none;
	}

	.slider-caption p.button a{
		font-size: 16px;
		line-height: 40px;
		padding: 6px 20px;
	}

	#about .wrapper, #client .wrapper, #service .wrapper, .feature-list, .footer, #work .wrapper, #policy .wrapper{
		padding-right: 15px;
		padding-left: 15px;
	}

	ul.work-list{
		text-align: center;
	}

	ul.work-list li{
		margin-left: 0px;
	}

	#work-view .wrapper{
		padding-left: 10px;
		padding-right: 10px;
	}

	.cross-button{
		right: 10px;
	}

	.ftposition .fture-one, .ftposition .fture-two, .ftposition .fture-the{
		width: 150px;
		height: 150px;
		background-size: cover; 
	}

	.ftposition .fture-one{
		left: 10px;
	}

	.ftposition .fture-two{
		left: 139px;
		top: 169%;
	}

	.ftposition .fture-the{
		left: 38px;
		top: 480%;
	}

	#feature .wrapper h2{
		margin-top: 370px;
		font-size: 30px;
	}

	#feature .f-one p{
		max-width: 60%;
	}

	#feature .ft-one{
		margin-top: 13%;
	}

	#feature .f-two p{
		max-width: 60%;
	}

	#feature .ft-two{
		margin-top: 15%;
	}

	.skill-title{
		width: auto;
		clear: both;
		padding: 0 15px 0 5px;
	}

	.skill-bar{
		width: 100%;
		clear: both;
	}

	#contact .marrow{
		margin-top:-30px;
	}

	.uppercont .wrapper{
		padding-top: 50px;
		padding-left: 10px;
		padding-right: 10px;
	}

	#contact .mcont{
		display: inline-block;
		width: 100%;
	}

	.fotter-form{
		margin-right: 20px;
		margin-left: 20px;
	}

	.contact-input{
		float: none;
		clear: both;
	}

	form .stycc{
		padding-right: 6px;
		padding-left: 6px;
		width: 96%;
	}

	#map{
		height: 300px;
		margin-bottom: 0px;
	}
	
	#navigation{
		position: fixed;
		top: 0;
	}

	#error-404 h2{
		font-size: 160px;
		line-height: 140px;
	}

	#soon{
		padding-right: 15px;
		padding-left: 15px;
	}

	#soon h2{
		line-height: 50px;
	}
	
	

}