*{
	margin:0;
	padding:0;
}

body{
	width:100%;
	color:#666666;
	font-family:Source Sans Pro;
}

input, button, select, textarea{
    font-family:Source Sans Pro;
}

h1{
	font-size: 47px;
}

h2{
	font-size:38px;
	line-height:38px;
	font-weight:400;
}
h3{
	font-size:28px;
	line-height:28px;
}
h4{
	font-size:20px;
}
p{
	font-size:18px;
	font-weight:400;
}

.wrapper{
	max-width:945px;
	margin:0 auto;
}

.row-shade{
    height: 50px;
    background: url(../images/shadow.png) no-repeat 50% 0;
	padding:0;
	margin:0;
}

/* End general setting */


.navigation{
    position: relative;
    height: auto;
    width: 100%;
}

#navigation{
	background-color:#26354a;
	border-bottom:2px solid #050001;
	position: fixed;
    top: 0;
    z-index: 100000000;
    min-height:70px;
}

#navigation .menu ul > li.current > a{
	color:#ff7f00;
}

.logo h2{
	font-family:Great Vibes;
	font-weight:400;
	color:#fff;
	line-height: 50px;
}

.menu select{
	display:none;
}

.menu ul.main-nav{
	float: right;
    list-style-type: none;
	}
.menu ul.main-nav li{
	float: left;
    line-height: 70px;
    padding: 0;
}

.menu ul.main-nav li a{
	color: #fff;
    display: block;
    font-size: 16px;
    line-height: 70px;
    padding: 0 10px;
	font-weight:600;
    text-decoration: none;
    text-transform: uppercase;
}

.menu ul.main-nav li a:hover{
	color:#ff7f00;
	-webkit-transition: all 0.4s linear 0s;
        -moz-transition: all 0.4s linear 0s;
            -ms-transition: all 0.4s linear 0s;
                -o-transition: all 0.4s linear 0s;
                    transition: all 0.4s linear 0s;
}

#phone-menu{
    display: none;
}


#home{
    background-color:#fff;
    position: relative;
    padding-top: 72px;
}


.carousel{
    border-top: 1px solid #26354A;
}

.item img {
	margin:0 auto;
}
.slider-caption{
	max-width:945px;
	margin:auto;
	left:0;
	position:relative;
}

.carousel-caption{
    top: 10%;
}

.slider-caption h2{
    font-size: 46px;
	font-weight:500;
	color:#fff;
	line-height:42px;
    
}
.slider-caption h2 span{
	font-weight:400;
	color:#ff7f00;
	font-family:Great Vibes;
}

.slider-caption h3{
	color:#fff;
	font-weight:400;
	line-height:32px;
}

.slider-caption p{
	color:#fff;
    font-size: 20px;
    line-height: 26px;
	font-weight:500;
	margin-top: 28px;
}

.slider-caption p.button{
	background-color: #FF7F00;
    cursor: pointer;
    margin-top: 76px;
    text-align: center;
    width: 235px;
}
.slider-caption p.button a{
	color: #FFFFFF;
    font-size: 24px;
    font-weight: 300;
    line-height: 60px;
    padding: 14px 40px;
    text-decoration: none;
    text-transform: uppercase;
}

/* End Home */

#service{
	background:url("../images/serhori.png") repeat;
}

#service .wrapper h2{
	font-weight:400;
	text-align:center;
	color:#545454;
	margin-bottom: 20px;
	text-transform: uppercase;
}

#service .wrapper p{
	text-align:center;
	line-height:25px;
	color: #777777;
}

#serviceSlide{
	border-top:1px solid #dddddd;
}

.column{
	margin-bottom:50px;
    cursor: pointer;
}

#carousel .column .circle1 {
    color: #777777;
    font-size: 22px;
    font-weight:600;
    line-height: 20px;
    margin: 14px 0 15px;
    text-align: center;
    text-transform: uppercase;
}

#carousel.circle .column i {
    border-radius: 100% 100% 100% 100%;
}

#carousel .column i {
    display: block;
    float: none;
    font-size: 60px;
    height: 68px;
    line-height: 68px;
    margin:50px auto 30px;
    position: relative;
    text-align: center;
    width: 68px;
    z-index: 2;
}

.column i {
	color:#ff7f00;
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 50% 50% 50% 50%;
    font-size: 36px;
    height: 36px;
    padding: 30px;
    width: 36px;
	border:1px solid #e5e5e5;
}

.column:hover i {
    -webkit-transition: all 0.4s linear 0s;
        -moz-transition: all 0.4s linear 0s;
            -ms-transition: all 0.4s linear 0s;
                -o-transition: all 0.4s linear 0s;
                    transition: all 0.4s linear 0s;
	-webkit-box-shadow: 0 8px 6px -6px #B4B4B4;
        -moz-box-shadow: 0 8px 6px -6px #B4B4B4;
            -ms-box-shadow: 0 8px 6px -6px #B4B4B4;
                box-shadow: 0 8px 6px -6px #B4B4B4;
}
.column .circle2 {
    font-size: 15px;
    font-weight: normal;
    line-height: 20px;
    margin: 12px auto 40px;
    text-align: center;
	color:#666666;
}

/* End Service */
#feature{
	background:url(../images/parallaxbg1.jpg) center center no-repeat fixed;
	height:532px;
	-webkit-box-shadow:    inset 0 0 25px 15px rgba(0, 0, 0, 0.75);
	   -moz-box-shadow:    inset 0 0 25px 15px rgba(0, 0, 0, 0.75);
            -ms-box-shadow:    inset 0 0 25px 15px rgba(0, 0, 0, 0.75);
                -o-box-shadow:    inset 0 0 25px 15px rgba(0, 0, 0, 0.75);
                    box-shadow:    inset 0 0 25px 15px rgba(0, 0, 0, 0.75);
}

#feature .wrapper h2{
	font-weight:400;
	text-align:left;
	text-transform: uppercase;
	color:#ff7f00;
	margin-top: 60px;
}

#feature .wrapper h2 span{
	color: #FFFFFF;
    font-style: italic;
    text-transform: lowercase;
}

#feature .f-one{
	margin-top:30px;
}

#feature .f-one p{
	color: #FFFFFF;
    float: left;
    font-size: 16px;
    max-width: 400px;
}

#feature .ft-one{
	color: #FF7F00;
    float: right;
    font-size: 30px;
    font-style: italic;
    margin-top: -15px;
    padding-top: 38px;
    text-align: center;
}

#feature .ft-one:hover.ftposition .fture-one{
	background:rgba(0,0,0,0.3);
	height:100%;
}

#feature .f-two p{
	color: #FFFFFF;
    float: right;
    font-size: 16px;
    margin-bottom: 61px;
    max-width: 400px;
}

#feature .ft-two{
	color: #FF7F00;
    float: left;
    font-size: 30px;
    font-style: italic;
    margin-top: 35px;
    padding-top: 38px;
    text-align: center;
}

.diawh{
	background:url("../images/diawh.png") no-repeat;
	height:100px;
	width:100px;
}

.diawhtwo{
	background:url("../images/diawh2.png") no-repeat;
	height:92px;
	width:106px;
}

.diawhthe{
	background:url("../images/diawh3.png") no-repeat;
	height:98px;
	width:104px;
}

.ftposition{
	position:relative;
	margin-top: 55px;
}

.ftposition .fture-one{
	background:url("../images/diaone.png") no-repeat;
	height:206px;
	width:206px;
	left: 0;
    position: absolute;
    top: 25%;
	background-size:cover;
}

.ftposition .fture-two{
	background:url("../images/diatwo.png") no-repeat;
	height:206px;
	width:206px;
	position: absolute;
    right: -3px;
    top: 221%;
	background-size:cover;
}

.ftposition .fture-the{
	background:url("../images/diathe.png") no-repeat;
	height:206px;
	width:206px;
    left: 39px;
    position: absolute;
	background-size:cover;
    top: 645%;
}
/* End Feayures */
#work{
	background-color:#ffffff;
}

#work  .wrapper h2{
	font-weight:400;
	text-align:center;
	text-transform: uppercase;
}

#work  .wrapper p{
	font-weight:400;
	text-align:center;
	line-height:25px;
	color: #777777;
}

.aligncenter {
    margin: 40px auto 50px;
    text-align: left;
}

ul.item-list {
    display: inline-block;
    list-style: none outside none;
    margin: 0;
}

ul.item-list li {
    cursor: pointer;
    display: inline-block;
    -webkit-transition: background 0.2s linear 0s;
        -moz-transition: background 0.2s linear 0s;
            -ms-transition: background 0.2s linear 0s;
                -o-transition: background 0.2s linear 0s;
                    transition: background 0.2s linear 0s;
}

.active {
    border-radius: 3px;
}

ul.item-list li.active a {
    color: #FFFFFF;
	background-color:#ff7f00;
}

ul.item-list li a {
    color: #fff;
    display: block;
    font-size: 16px;
    font-weight: normal;
    padding: 5px 20px;
    text-decoration: none;
	background:#666666;
	border-radius:3px;
}

ul.item-list li a:hover{
    background: #ff7f00;
}

.work-list li .work-thumb{
    max-width: 210px;
    position: relative;
}

.item-title h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
	color:#777777;
}

#work .item-title p {
    color: #A9A9A9;
    font-size: 15px;
    line-height: 20px;
    margin-top: -3px;
    text-align: left;
    width: 223px;
}

ul.work-list {
    list-style: none outside none;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
}

ul.work-list li {
    margin-bottom: 35px;
    margin-left: 14.5px;
	width:222px;
	vertical-align:top;
    display: inline-block;
}

ul.work-list li a{
    border: none;
    outline: none;
    display: block;
    position: relative;
}

#work .item {
    overflow: visible;
    position: relative;
}

#work .item  img{
	border:1px solid #dddddd;
	padding:4px 4px 27px 4px;
	position:relative;
}

.item .wicon{
	background:url("../images/wicon.png") no-repeat;
	bottom: 15px;
    height: 24px;
    left: 41%;
    position: relative;
    width: 41px;
}

#work .item:hover .wicon{
	background:url("../images/wiconh.png") no-repeat;
	bottom: 14px;
    height: 24px;
    left: 41%;
    position: relative;
    width: 41px;
}

#work .item:hover img{
	border:1px solid #262626;
}

#work .item .common-hover:before {
    content: "";
    display: inline-block;
    
    vertical-align: middle;
}

#work .item .common-hover .common-hover-content h3 {
    color: #000000 !important;
    margin: 10px 0 0 !important;
}

#work .content-element {
    margin-bottom: 0;
}

#work .item .common-hover {
    background-color: rgba(0, 0, 0, 0.7);
    height: 75%;
	margin-left: 2%;
    margin-top: 2%;
    left: 0;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 95%;
    -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
            -ms-transition: all 0.3s ease-in-out 0s;
                -o-transition: all 0.3s ease-in-out 0s;
                    transition: all 0.3s ease-in-out 0s;
}

#work .item:hover .common-hover{
    opacity: 1;
    transform: translateX(0%);
}

#work .no-csstransforms .item .common-hover {
    display: none;
}

#work .no-csstransforms .item:hover .common-hover {
    display: block;
}

#work .item .common-hover:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
}
#work .item a {
    display: block;
}

#work .item a img {
    float: left;
}

#work .item .common-hover .common-hover-content {
    display: inline-block;
    height: auto;
    position: relative;
    vertical-align: middle;
}

#work .item .common-hover-icon {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 50% 50% 50% 50%;
    float: left;
    height: 35px;
    line-height: 35px;
    margin-right: 5px;
    opacity: 1;
    text-align: center;
    width: 35px;
    -webkit-transition: all 0.4s linear 0s;
        -moz-transition: all 0.4s linear 0s;
            -ms-transition: all 0.4s linear 0s;
                -o-transition: all 0.4s linear 0s;
                    transition: all 0.4s linear 0s;
}

#work .item .icon-color {
    color: #FFFFFF;
    font-size: 12px;
    line-height: 35px;
    -webkit-transition: all 0.4s linear 0s;
        -moz-transition: all 0.4s linear 0s;
            -ms-transition: all 0.4s linear 0s;
                -o-transition: all 0.4s linear 0s;
                    transition: all 0.4s linear 0s;
}

#work .item .common-hover-icon:hover .icon-color {
    color: #ff7f00;
}

#work .item .common-hover-icon:hover {
    background: none repeat scroll 0 0 #B2B2B2;
}

#work .common-hover-content i {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    border: 2px solid #FFFFFF;
    border-radius: 50% 50% 50% 50%;
    color: #ACACA8;
    font-size: 12px;
    padding: 9px 10px;
    text-decoration: none;
}

#work-view{
    background-repeat: repeat;
    position: relative;
    display: none;
}

#work-view .wrapper{
    padding: 50px 0;
    position: relative;
}

.single-photo img{
    border: 1px solid;
    border-color: #DDDDDD;
    padding: 5px;
    background: #ffffff;
}

.single-description .btn{
    background: #FF7F00;
    color: #fff;
}

.single-description{
     text-align: left;
}

.single-description h2{
    font-weight: 400;
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 20px;
    margin-top: 0;
    text-transform: uppercase;
}

.single-description h4{
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.single-description p{
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 15px;
}

.cross-button{
    background: url('../images/close.png');
    color: red;
    text-decoration: none;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 16px;
    text-indent: -9999px;
}

/* End work */

#about{
	background:url("../images/serhorij.png") repeat ;
	border-top:1px solid #dedede;
}

#about h2{
	font-weight:400;
	text-align:center;
	margin-bottom: 27px;
	text-transform: uppercase;
}

#about p{
	font-weight:400;
	text-align:center;
	line-height: 20px;
}
.expert{
	border-bottom:1px solid #dddddd;
	box-shadow: 0 1px 0 0 #fff, 0 1px 0 0 #fff;
	padding: 20px 0 50px;
	margin-bottom:50px;
}

#about .expert h4{
	text-transform:uppercase;
	font-weight:600;
}

#about .expert p{
	text-align:left;
	font-size:15px;
	line-height:23px;
}
.team h2{
	font-weight:400;
	text-align:center;
}

.team-col h3 {
	color: #777777;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    margin-top:30px;
    text-align: center;
    text-transform: uppercase;
}

.team .circle-two p {
    font-size: 15px;
    font-weight: normal;
    line-height: 22px;
    text-align: center;
    -webkit-transition: color 0.6s ease 0s;
        -moz-transition: color 0.6s ease 0s;
            -ms-transition: color 0.6s ease 0s;
                -o-transition: color 0.6s ease 0s;
                    transition: color 0.6s ease 0s;
}

.header-social-icon a {
    float: left;
    height: 32px;
     width: 32px !important;
    text-indent: -9999px;
    -webkit-transition: all .4s linear 0s;
        -moz-transition: all .4s linear 0s;
            -ms-transition: all .4s linear 0s;
                -o-transition: all .4s linear 0s;
                    transition: all .4s linear 0s;
}

.header-social-icon li {
    display: inline-block;
    margin: 0 2px;
    padding: 0;
}

ul.header-social-icon {
    display: inline-block;
    list-style: none outside none;
    margin: 0;
}

.footer-social-icon {
    margin: 25px 0 60px;
    text-align: center;
}

.header-social-icon li.facebook a {
    background: url("../images/facehov.png") no-repeat scroll 0 0 transparent;
    border-radius: 50% 50% 50% 50%;
}

.header-social-icon li.facebook a:hover {
    background: url("../images/facebook.png") no-repeat scroll 0 0px transparent;
}

.header-social-icon li.instagram a {
    background: url("../images/inshov.png") no-repeat scroll 0 0 transparent;
    border-radius: 50% 50% 50% 50%;
}

.header-social-icon li.instagram a:hover {
    background: url("../images/instagram.png") no-repeat scroll 0 0 transparent;
}

.header-social-icon li.skype a {
    background: url("../images/skyhov.png") no-repeat scroll 0 0 transparent;
    border-radius: 50% 50% 50% 50%;
}

.header-social-icon li.skype a:hover {
    background: url("../images/skype.png") no-repeat scroll 0 0 transparent;
}

.header-social-icon li.twitter a {
    background: url("../images/twhov.png") no-repeat scroll 0 0 transparent;
    border-radius: 50% 50% 50% 50%;
}

.header-social-icon li.twitter a:hover {
    background: url("../images/twitter.png") no-repeat scroll 0 0 transparent;
}

.team-holder{
    width: 220px;
    display: inline-block;
    position: relative;
}
.team-hover:before{
     content: " ";
    height: 0;
    width: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent; 
    position: absolute;
    pointer-events: none;
    left: 100%;
    border-left:9px solid #26354A;
     
}
.team-hover{
    width: 190px;
    margin-left: 15px;
    height: 30px;
    background: #26354A;
    position: absolute;
    bottom: 41%;
    display: block;
    opacity: 0;
    z-index: 99;
    -webkit-transition: all linear .5s;
        -moz-transition: all linear .5s;
            -ms-transition: all linear .5s;
                -o-transition: all linear .5s;
                    transition: all linear .5s;
   
}
.team-hover:after{
    content: " ";
    height: 0;
    width: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent; 
    position: absolute;
    pointer-events: none;
    right: 100%;
    border-right:9px solid #26354A;
    top: 0%
     
}

#about p.member-id{
    padding: 0;
    margin: 0;
    line-height: 28px;
}
#about p.member-id span{
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
    color: #fff;
}
.team-people{
    -webkit-transition: all linear .5s;
        -moz-transition: all linear .5s;
            -ms-transition: all linear .5s;
                -o-transition: all linear .5s;
                    transition: all linear .5s;
    z-index:9;
}
.team-holder:hover .team-people{
    opacity: .7;
}
.team-holder:hover .team-hover{
   opacity: 1.0;
}

.skill-title{
    width: 25%;
    float: left;
    height: 22px;
    background: #777777;
    color: #fff;
}

.skill-title span{
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    padding-left: 10px;
    -webkit-text-shadow:0 0 1px rgba(0, 0, 0, 0.75);
        -moz-text-shadow:0 0 1px rgba(0, 0, 0, 0.75);
            -ms-text-shadow:0 0 1px rgba(0, 0, 0, 0.75);
                -o-text-shadow:0 0 1px rgba(0, 0, 0, 0.75);
                    text-shadow:0 0 1px rgba(0, 0, 0, 0.75);
}

.skill-bar{
    width: 75%;
    float: left;
}

/* End about */
#client{
	background:url(../images/parallaxbg2.jpg) center center no-repeat fixed;
	height:285px;
}

#client h2{
	font-weight:400;
	text-align:center;
	color:#fff;
	margin: 35px auto 20px;
    text-transform: uppercase;
}

#client p.comments{
	font-weight:400;
	font-style:italic;
	color:#fff;
	padding:0 63px;
	text-align:center;
	margin:0 auto;
}

#client div.carrow{
	background:url("../images/carrow.png") no-repeat 50% 0%;
	height:6px;
	margin-top:20px;
}

#client p.c-name{
	width:166px;
	height:60px;
	background-color:#26354a;
	margin:0 auto;
	border-radius:3px;
	text-align:center;
	font-size:15px;
	color:#fff;
}

#client p.c-name label{
	position:relative;
	top:20%;
}

#client p.c-name span{
	font-size:20px;
	font-weight:400;
}

.comments span img {
    margin: 0 0 0 -75px;
}

.comments label img {
    float: right;
    margin: -55px -60px 0 0;
}

/* end client */

/* Price Plan */
#price{
	background:#fff;
	border-top:1px solid #dedede;
}
.price_plane {
	padding:30px 0 40px;}

#price h2{
	font-weight:400;
	text-align:center;
	margin-bottom: 27px;
	text-transform: uppercase;
}
#price p{
	font-weight:400;
	text-align:center;
	line-height: 20px;
}
.plan {
	float:left;
	width:100%;
	margin:20px 0;}
.plan .phead {
    overflow: visible;
    position: relative;
}
.plan .pw {
    border: 1px solid #DDDDDD;
    padding: 4px 4px 27px;
    position: relative;
	overflow:hidden;
}
.plan:hover .pw  {
    border: 1px solid #262626;
}
.plan .planprice {
	float:left;
	width:100%;
	background:#dddddd;
	text-align:center;}
.plan .planprice.gold { background:#ff7f00; color:#fff;}
.plan .planprice h3 {
	font-size:38px;
	margin:0;
	font-weight:400;
	padding:22px 0 10px;
	}
.plan .planprice p {
	padding-bottom:10px;}
.plan .wicon{
	background:url("../images/wicon.png") no-repeat;
	bottom: 15px;
    height: 24px;
    left: 41%;
    position: relative;
    width: 41px;
}
.plan:hover .wicon{
	background:url("../images/wiconh.png") no-repeat;
	bottom: 14px;
    height: 24px;
    left: 41%;
    position: relative;
    width: 41px;
}
.pcontent {
	position:relative;
	padding:0;
	width:100%;
	text-align:center;}
.pcontent h4 {
	font-size:26px;
	font-weight:400;
	text-transform:uppercase;}	
.pcontent ul {
	float:left;
	width:100%;
	position:relative;
	margin:15px 0 20px 0;
	padding:0;
	}
.pcontent ul li {
	position:relative;
	display:list-item;
	list-style:none;
	margin-bottom:10px;
	font-size:15px;
	text-align:center;}
	
.plan .pbot {
    overflow: visible;
    position: relative;
	float:left;
	width:100%;
}
.plan .pbotw {
    border: 1px solid #DDDDDD;
    padding: 27px 4px 4px;
    position: relative;
	overflow:hidden;
}
.plan:hover .pbotw  {
    border: 1px solid #262626;
}
.plan .pbot .pnw {
	float:left;
	width:100%;
	background:#dddddd;
	text-align:center;
	}

.plan .wbicon{
	background: url(../images/wiconb.jpg) no-repeat;
	top: 15px;
    height: 24px;
    left: 41%;
    position: relative;
    width: 41px;
	margin:0;
	z-index:100;
}
.plan:hover .wbicon{
	background: url(../images/wiconh_b.jpg) no-repeat;
	top: 14px;
}

.plan .pbotw a {
	float:left;
	width:100%;
	padding:15px 0;
	background:#ff7f00;
	color:#fff;
	text-transform:uppercase;
	font-size:20px;
	text-align:center;}
.plan .pbotw a:hover { background:#223146;}

/* End about */
#anotherClient{
	background:url(../images/parallaxbg3.jpg) center center no-repeat fixed;
	height:285px;
}

#anotherClient h2{
	font-weight:400;
	text-align:center;
	color:#fff;
	margin: 35px auto 20px;
    text-transform: uppercase;
}

#anotherClient p.comments{
	font-weight:400;
	font-style:italic;
	color:#fff;
	padding:0 63px;
	text-align:center;
	margin:0 auto;
}

#anotherClient div.carrow{
	background:url("../images/carrow.png") no-repeat 50% 0%;
	height:6px;
	margin-top:20px;
}

#anotherClient p.c-name{
	width:166px;
	height:60px;
	background-color:#26354a;
	margin:0 auto;
	border-radius:3px;
	text-align:center;
	font-size:15px;
	color:#fff;
}

#anotherClient p.c-name label{
	position:relative;
	top:20%;
}

#anotherClient p.c-name span{
	font-size:20px;
	font-weight:400;
}
/*client spece */
.clientSpece, .clientSpece_a {
	background:url(../images/parallaxbg3.jpg) center center no-repeat fixed;
	height:285px;
}

.clientSpece  h2, .clientSpece_a  h2{
	font-weight:400;
	text-align:center;
	color:#fff;
	margin: 35px auto 20px;
    text-transform: uppercase;
}

.clientSpece p.comments, .clientSpece_a p.comments{
	font-weight:400;
	font-style:italic;
	color:#fff;
	padding:0 63px;
	text-align:center;
	margin:0 auto;
}

.clientSpece div.carrow, .clientSpece_a div.carrow{
	background:url("../images/carrow.png") no-repeat 50% 0%;
	height:6px;
	margin-top:20px;
}

.clientSpece p.c-name, .clientSpece_a p.c-name{
	width:166px;
	height:60px;
	background-color:#26354a;
	margin:0 auto;
	border-radius:3px;
	text-align:center;
	font-size:15px;
	color:#fff;
}

.clientSpece p.c-name label, .clientSpece_a p.c-name label{
	position:relative;
	top:20%;
}

.clientSpece p.c-name span, .clientSpece_a p.c-name span{
	font-size:20px;
	font-weight:400;
}

/* end client */

/* End price plane */
#contact{
	position:relative;
}
#map{
     position: relative;
     width: 100%;
     height: 560px;
     margin: 0 auto;
     margin-bottom:50px;
     z-index: 99;
}

.contact-input{
    float: left;
}

.contact-row{
    clear: both;
}

#contact .marrow{
	background:url("../images/marrow.png") no-repeat 26% 0;
	height:54px;
	margin-top: 112px;
}

#contact .muparrow{
	background:url("../images/muparrow.png") no-repeat 27% 0;
	height:9px;
	margin:0;
}

#contact-icon.header-social-icon li.facebook a {
    background: url("../images/facebook.png") no-repeat scroll 0 0px transparent;
}

#contact-icon.header-social-icon li.instagram a {
    background: url("../images/instagram.png") no-repeat scroll 0 0 transparent;
}

#contact-icon.header-social-icon li.skype a {
    background: url("../images/skype.png") no-repeat scroll 0 0 transparent;
}

#contact-icon.header-social-icon li.twitter a{
    background: url("../images/twitter.png") no-repeat scroll 0 0 transparent;
}

#contact .mcont{
	background:#ff7f00;
	height:90px;
	width:254px;
	border-radius:3px;
	font-size:15px;
	color:#fff;
	text-align:center;
	margin:0;
}

#contact .mcont label{
	padding-top: 15px;
}

#contact .mcont span{
	font-size:20px;
	font-weight:400;
}

#contact .form-color{
	background-color:#26354a;
	width:372px;
	min-height:412px;
	-moz-box-shadow: 0 0 5px #26354a;
	-webkit-box-shadow: 0 0 5px#26354a;
	box-shadow: 0 0 5px #26354a;
}

#contact .form-color .formcon p.nama{
	color: #FFFFFF;
    font-size: 15px !important;
    line-height: 15px;
    margin:0;
}

#contact .form-color .formcon p{
	color: #FFFFFF;
    font-size: 22px;
    line-height: 30px;
    padding: 20px 0 5px 25px;
}

#contact .uppercont{
	position:absolute;
	top:60px;
    z-index: 99999999;
}

#contact .footer-social-icon{
	text-align:left;
	padding-left:25px;
	margin: 12px 0 30px;
}

#contactForm{
    background: #26354A;
}

form .styc{
    background-color: rgba(255, 255, 255,0.99);
    border: medium none;
    color: #777777;
    height: 40px;
    margin: 10px 0 0;
    width: 150px;
	float:left;
}

form .styccc {
    background-color: rgba(255, 255, 255,0.99);
    border: medium none;
    color: #777777;
    height: 40px;
    margin: 10px 10px 0;
    width: 150px;
}

form p {
    font-size: 15px;
    line-height: 20px;
}

form .stycc {
    background-color: rgba(255, 255, 255, 0.99);
    border: medium none;
    color: #777777;
    height: 92px;
    margin: 10px 0;
    padding: 8px 0 0 8px;
    width: 326px;
    resize:none;
}

form .sttyc {
    background-color: #ff7f00;
    border: 0 none;
    color: #fff;
    float: right;
    font-size: 16px;
    font-weight: normal;
    padding: 5px 20px;
    text-transform: uppercase;
	float: left;
	border-radius:3px;
	margin-top:16px;
    margin-bottom: 20px;
}

.fotter-form{
	margin:30px 8px 0 19px;
    background: #26354A;
}

.footer h2{
	text-align:center;
	font-family: Great Vibes;
	font-weight:400;
    line-height: 60px;
    margin:45px auto 15px;
    color: #3A4348;
}

.footer-wrap{
	max-width:750px;
	margin: 0 auto;
}

.footer-wrap p{
	font-weight:400;
	font-size:14px;
	text-transform:uppercase;
	text-align:center;
	margin-bottom:50px;
	padding-top:35px;
	border-top:1px solid #eeeeee;
}

.footer-wrap p span a{
	color: #ff7f00;
	text-decoration:none;
}

.footer-wrap p span a:hover{
    color: #666666;
}

.error-holder{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

#contact p#error-name, #contact p#error-email, #contact p#error-sms, #contact p#failed{
    font-family: 'Source Sans Pro';
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #ffffff;
    padding: 0;
    margin: 10px 0 0 0;
    display: none;
}

#contact p#error-name span, #contact p#error-email span, #contact p#error-sms span, #contact p#failed span{
    color: #FF0000;
    font-size: 16px;
    padding-right: 10px;
}

#success {
    color: #FD6533;
    display: none;
    font-size: 25px;
    font-weight: 100;
    margin-bottom: 0;
    padding-top: 30px;
}

#error-404, #soon{
    min-height: 450px;
    padding-top: 72px;
    background: #485B6E;
    overflow:hidden;
}

#error-404 h2, #soon h2{
    font-family: 'Source Sans Pro';
    font-size: 220px;
    font-weight: 300;
    line-height: 180px;
    margin: 100px 0 15px;
    text-align: center;
    color: #75D6E0;
}

#error-404, #soon p{
    font-family: 'Source Sans Pro';
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
    color: #E1EEFA;
    margin: 0;
    text-align: center;
}

#policy{
    padding-top: 72px;
}

#policy .wrapper{
    padding-top: 30px;
}

#policy .wrapper h2{
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
}

#policy .wrapper p{
    text-align: center;
}

#privacy{
    font-family: 'Source Sans Pro';
    padding: 30px 0;
}

#privacy ol{
    list-style-type: decimal;
    margin-left: 20px;
}

#policy #privacy p{
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    text-align: left;
    margin: 10px 0;
}

#privacy ul{
    list-style-type: disc;
    margin-left: 30px;
}

#privacy a{
    color: #FF7F00;
}