/* THEME STYLES */
#homeSlide {
	position: relative;
	min-height: 550px;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	background: #000;
}
#homeSlide > .sequence-canvas {
	height: 100%;
	width: 100%;
}
#homeSlide > .sequence-canvas > li {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
}
#homeSlide > .sequence-canvas li > * {
	position: absolute;
	-webkit-transition-timing-function: ease-in-out;
	-moz-transition-timing-function: ease-in-out;
	-ms-transition-timing-function: ease-in-out;
	-o-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}
#homeSlide .sequence-next, #homeSlide .sequence-prev {
	color: white;
	cursor: pointer;
	display: none;
	font-size: 80px;
	font-weight: bold;
	position: absolute;
	opacity: 0.4;
	top: 40%;
	margin-top: -10px;
	height: 40px;
	width: 20px;
	z-index: 20;
	-webkit-transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-ms-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	transition-duration: 0.4s;
}
#homeSlide .sequence-prev {
	left: 40px;
}
#homeSlide .sequence-next {
	right: 40px;
}
#homeSlide .sequence-prev:hover {
	left: 30px;
}
#homeSlide .sequence-next:hover {
	right: 30px;
}
#homeSlide .sequence-next:hover, #homeSlide .sequence-prev:hover {
	opacity: 1;
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
	-webkit-transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-ms-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	transition-duration: 0.4s;
	background: #000;
	background: rgba(0, 0, 0, 0.5);
	padding: 5px 10px;
	margin-top: -15px;
}
#homeSlide .slide_bg {
	height: auto;
	width: 100%;
	left: 0%;
	opacity:0;
	top: 0;
	vertical-align: middle;
	-webkit-transition-property: left top;
	-moz-transition-property: left top;
	-ms-transition-property: left top;
	-o-transition-property: left top;
	transition-property: left top;
}
#homeSlide .animate-in .slide_bg {
	left: 0%;
	opacity: 1;
	top: 0;
	-webkit-transition-duration: 6s;
	-moz-transition-duration: 6s;
	-ms-transition-duration: 6s;
	-o-transition-duration: 6s;
	transition-duration: 6s;
}
#homeSlide .animate-out .slide_bg {
	left:0;
	opacity: 0;
	top: 0;
	-webkit-transition-duration: 6s;
	-moz-transition-duration: 6s;
	-ms-transition-duration: 6s;
	-o-transition-duration: 6s;
	transition-duration: 6s;
}
#homeSlide .subhead {
	font-size: 46px;
	line-height: 42px;
	font-weight: 400;
	color: #ff7f00;
	font-family: Great Vibes;
	top: -30%;
	text-align: center;
	width: 100%;
	z-index: 10;
	-webkit-transition-property: bottom top;
	-moz-transition-property: bottom top;
	-ms-transition-property: bottom top;
	-o-transition-property: bottom top;
	transition-property: bottom top;
}
#homeSlide .animate-in .subhead {
	top: 15%;
	-webkit-transition-duration: 4s;
	-moz-transition-duration: 4s;
	-ms-transition-duration: 4s;
	-o-transition-duration: 4s;
	transition-duration: 4s;
	z-index: 9;
}
#homeSlide .animate-out .subhead {
	top: -30%;
	z-index: 6;
	-webkit-transition-duration: 3s;
	-moz-transition-duration: 3s;
	-ms-transition-duration: 3s;
	-o-transition-duration: 3s;
	transition-duration: 3s;
}
#homeSlide .slhead {
	font-family: 'Oswald', sans-serif;
	font-size: 96px;
	line-height: 100px;
	font-weight: 700;
	color: #26354a;
	left: 100%;
	top: 25%;
	text-align: center;	
	text-transform:uppercase;
	width: 100%;
	z-index: 9;
	-webkit-transition-property: left right;
	-moz-transition-property: left right;
	-ms-transition-property: left right;
	-o-transition-property: left right;
	transition-property: left right;
}
#homeSlide .animate-in .slhead {
	left: 0%;
	-webkit-transition-duration: 4s;
	-moz-transition-duration: 4s;
	-ms-transition-duration: 4s;
	-o-transition-duration: 4s;
	transition-duration: 4s;
	z-index: 5;
}
#homeSlide .animate-out .slhead {
	left: 150%;
	z-index: 4;
	-webkit-transition-duration: 3s;
	-moz-transition-duration: 3s;
	-ms-transition-duration: 3s;
	-o-transition-duration: 3s;
	transition-duration: 3s;
}
#homeSlide .slpara {
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	line-height: 20px;
	font-weight: 400;
	color: #26354a;
	left: -110%;
	top: 50%;
	text-align: center;
	width: 100%;
	z-index: 8;
	-webkit-transition-property: left right;
	-moz-transition-property: left right;
	-ms-transition-property: left right;
	-o-transition-property: left right;
	transition-property: left right;
}
#homeSlide .animate-in .slpara {
	left: 0%;
	-webkit-transition-duration: 3.5s;
	-moz-transition-duration: 3.5s;
	-ms-transition-duration: 3.5s;
	-o-transition-duration: 3.5s;
	transition-duration: 3.5s;
	z-index: 6;
}
#homeSlide .animate-out .slpara {
	left: -150%;
	z-index: 3;
	-webkit-transition-duration: 3s;
	-moz-transition-duration: 3s;
	-ms-transition-duration: 3s;
	-o-transition-duration: 3s;
	transition-duration: 3s;
}

#homeSlide .slinfo{
	left:0;
	margin:0;
	color:#fff;
	text-shadow: 2px 1px 2px rgba(0, 0, 0, .5);
	padding: 66px 0 30px 0;
	opacity:1;
	bottom:-30%;
	text-align: center;
	width: 100%;
	z-index: 8;
	background:url(../images/captionbg.png) center  top no-repeat;
	background-size:100%;
	-webkit-transition-property: top bottom;
	-moz-transition-property:  top bottom;
	-ms-transition-property:  top bottom;
	-o-transition-property:  top bottom;
	transition-property:  top bottom;
}
#homeSlide .animate-in .slinfo {
	bottom:0;
	opacity:1;
	-webkit-transition-duration: 3.5s;
	-moz-transition-duration: 3.5s;
	-ms-transition-duration: 3.5s;
	-o-transition-duration: 3.5s;
	transition-duration: 3.5s;
	z-index: 6;
}
#homeSlide .animate-out .slinfo {
	bottom:-30%;
	opacity:0;
	z-index: 3;
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-ms-transition-duration: 1s;
	-o-transition-duration: 1s;
	transition-duration: 1s;
}

#homeSlide .slbut{
	left:50%;
	top:-40%;
	margin:0 0 0 -11.45%;
	opacity:0;
	text-align: center;
	width: 23%;
	z-index: 8;
	background:none;
	background-size:100%;
	-webkit-transition-property: top bottom;
	-moz-transition-property:  top bottom;
	-ms-transition-property:  top bottom;
	-o-transition-property:  top bottom;
	transition-property:  top bottom;
}
#homeSlide .animate-in .slbut {
	top:71%;
	opacity:1;
	-webkit-transition-duration: 3.5s;
	-moz-transition-duration: 3.5s;
	-ms-transition-duration: 3.5s;
	-o-transition-duration: 3.5s;
	transition-duration: 3.5s;
	z-index: 6;
}
#homeSlide .animate-out .slbut {
	top:-40%;
	opacity:0;
	z-index: 3;
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-ms-transition-duration: 1s;
	-o-transition-duration: 1s;
	transition-duration: 1s;
}
#homeSlide .slbut a {
	float:left;
	width:90%;
	background:url(../images/homeSlide_buttonbg.png) left top repeat;
	border-radius:40px;
	-webkit-border-radius:40px;
	border:1px solid #fff;
	padding:4.5%;}


/SLIDER2 STYLE */

/*Responsive style */
 @media(min-width:1200px) {
#homeSlide {
	min-height: 550px;
}
}
@media(min-width:1900px) {
#homeSlide {
	min-height: 790px;
}
#homeSlide .slbut{
	margin-left:-216px;
	text-align: center;
	width: 432px;

}
#homeSlide .animate-in .slbut {
	top:73%;
}
#homeSlide .slbut a {
	width:400px;

	padding:15px;
	border-radius:50px;
	-webkit-border-radius:50px;
}
#homeSlide .slinfo {
	padding:90px 0 50px;}
}
@media(max-width:1199px) {
#homeSlide {
	min-height: 550px;
}
#homeSlide .slide_bg {
	width: auto !important;
	max-width: auto !important;
	height: 100%
}
#homeSlide .subhead {
	font-size: 30px;
}
#homeSlide .slhead {
	font-size: 75px;
}
#homeSlide .slpara {
	font-size: 14px;
}
#homeSlide .sllink a {
	font-size: 20px;
	padding: 10px 30px;
}

#homeSlide .animate-in .slbut {
	top:74%;
}
#homeSlide .slinfo {
	padding:50px 0 37px;}
}
@media(max-width:990px) {
#homeSlide .slhead {
	font-size: 60px;
	top: 32%;
}
#homeSlide .slpara {
	top: 54%;
}
}
@media(max-width:768px) {
#homeSlide {
	min-height: 400px;
}
#homeSlide .subhead {
	font-size: 30px;
}
#homeSlide .slhead {
	font-size: 60px;
	top: 20%;
}
#homeSlide .slpara {
	top: 44%;
}
#homeSlide .slinfo {
    padding: 38px 0 20px;
}

}
@media(max-width:767px) {
#homeSlide {
	min-height: 330px;
}
#homeSlide .animate-in .subhead {
	font-size: 20px;
	top: 20%
}
#homeSlide .slhead {
	font-size: 40px;
	line-height:40px;
	top: 36%;
}
#homeSlide .slpara {
	top: 58%;
}
#homeSlide .slinfo {
    padding: 30px 0 15px;
}

}
@media(max-width:480px) {
#homeSlide {
	min-height: 200px;
}
#homeSlide .animate-in .subhead {
	font-size: 16px;
	top: 10%
}
#homeSlide .slhead {
	font-size: 20px;
	line-height:20px;
	top: 23%;
}

#homeSlide .slpara {
	top: 40%;
	font-size:10px;
	
}
#homeSlide .animate-in .slbut {
	top:68%;
}
#homeSlide .slinfo {
	font-size:12px;
	padding:20px 0 10px;
}
#homeSlide .slbut a {padding:3% 4.5%;}
#homeSlide .slbut a img{ float:left;}
#homeSlide .sequence-next, #homeSlide .sequence-prev {
	margin-top: -5px;
	height: 20px;
	width: 12px;
}
#homeSlide .sequence-prev {
	left: 10px;
}
#homeSlide .sequence-next {
	right: 10px;
}
#homeSlide .sequence-prev:hover {
	left: 4px;
	margin-top:-8px;
}
#homeSlide .sequence-next:hover {
	right: 4px;
	margin-top:-8px;
}
}
@media(max-width:480px) {
#homeSlide .animate-in .slbut {
	top:77%;
}
#homeSlide .slinfo {
	font-size:12px;
	padding:10px 0 5px;
}
}